:root {
    --grey: rgba(249, 249, 249, 0.94);
    --black: #1C1C1E;
    --yellow: #FFEB00;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

html {font-size: 100%;} /*16px*/
h1 {font-size: 30px; line-height: 1.3;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
p {margin: 8px 0;}
a {color:var(--black); text-decoration: underline;}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header & Footer */

header, footer {
    width: 100%;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: white;
}

.settings {
    background-color: var(--black);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
}

input {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    
}

input[type=color] {
    width: 60px;
    height: 60px;
}

button {
    width: 100%;
    background-color: var(--grey);
    border: 1px solid var(--grey);
    color: var(--black);
    padding: 8px;
    border-radius: 5px;
}

button.active {
    background-color: var(--black);
    color: var(--grey);
}

.grid {
    background-color: var(--black);
    display: grid;
    width: 500px;
    height: 500px;
}

/* Mobile */

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 0px;
        color: var(--black);
    }

    .settings {
        background-color: transparent;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    button {
        width: 25%;
        background-color: var(--black);
        border: 1px solid var(--black);
        color: var(--grey);
    }

    button.active {
        background-color: var(--grey);
        border: 1px solid var(--grey);
        color: var(--black);
    }

    .grid {
        width: 400px;
        height: 400px;
    }

    p {
        font-size: 13px;
    }
  }